<br><br><br><br><br><br>
<br><br><br><br><br><br>
<div  class=" d-flex justify-content-between container">
<form action="/addcourse" method = "post" class=" d-flex justify-content-between">
  
    <div >
    <button class="btn info btn btn-danger"> <h2> Add Course</h2></button>
  </div>

</form>

<form action="/adddepartment" method = "post">

  <div >
   
    <button class="btn info btn btn-danger"> <h2> add departments</h2></button>
  </div>

</form>
<form action="/registers" method = "post">

  <div >
    
    <button class="btn info btn btn-danger"> <h2> registration</h2></button>
  </div>



</form>
</div>


