<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #2196F3;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}



.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
    </style>
</head>
<body>
    <h2>Java Enroll Form</h2>
    

<div class="container">
  <form action="/classjava" method="post">
    <label for="fname">First Name</label>
    <input type="text" id="fname" name="firstname" placeholder="Your name..">

    <label for="lname">Last Name</label>
    <input type="text" id="lname" name="lastname" placeholder="Your last name..">

    <span class="label info">Prerequiste</span>
    <br>
    <form action="">
  <input type="radio" id="pass" name="fav_language" value="pass">
  <label for="html">pass</label><br>
  <input type="radio" id="notpass" name="fav_language" value="notpass">
  <label for="css">Not pass</label><br>
  <br>
    <label for="subject">Academic Email</label><br>
    <input type="text" id="email" name="email" placeholder="Your Academic Email...">

    <input name="submit" type="submit" value="Submit">
  </form>
</div>
</body>
</html>

