<h1> Add a new department </h1>


<form action='/departments' method='POST'>
    <!--Name-->
    <div>
        <label form="">Name</label>

        <input type="text" class="form-control" name="name">
    </div>

    <!--Code-->
    <div>
        <label form="">Code</label>

        <input type="text" class="form-control" name="code">
    </div>

<div class="mt-3">
        <button class="btn btn-success" type="submit">Save</button>
    </div>

</form>