<br><br><br>
<div >
<form action="/login" method="post" style="background-color:rgba(255, 99, 71, 0.5);" class="container">
<div>
    <label for=""><h5>email</h5></label>
    <input type="text" class="form-control" name="email">
</div>
<br>
<div>
    <label for=""> <h5>password</h5></label>
    <input type="password" class="form-control" name="password">
</div>
<br>
<div>
        <label for=""><h5>typeuse</h5> </label>
        <select name="types" id=" " class="form-select" >
            

               <option value="student">student</option>
                <option value="doctor">doctor</option>
                <option value="admin">admin</option>
               


            
            
        </select>
        <br>
        <div>
   <button type="submit" class="btn btn-danger btn-lg btn-block" >Login</button>
   <br><br>

   </div>
    </div>
    </div>

</form>
